/* 2022/02/15@Yuto02D2 */

@charset "UTF-8";


@media screen and (max-width: 960px) {
    img#header-logo {
        width: 35vh;
    }
    ul.header-content-ul {
        display: inline-block;
        text-align: left;
        list-style-position: inside;
    }
    li.header-content-li {
        margin: 10px 10px;
        list-style: none;
    }
    li.header-content-li::before {
        content: "> ";
    }
}


@media screen and (max-width: 512px) {
    body {
        font-size: 16px;
    }

    header {
        font-size: 18px;
    }
}


@media screen and (min-width: 512px) and (max-width: 960px) {
    body {
        font-size: 26px;
    }

    header {
        font-size: 28px;
    }
}
