/*
 * this is comment text.
 * write by Yuto02D2-E2 since 2021/07/30
 */


body {
    font-family: cursive, Verdana, Osaka, Arial, メイリオ;
    font-size: large;
    text-align: center;
}

header {
    background-image: url(./image/background-water.png);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    background-attachment: fixed;
    height: 700px;
}

a#page-link {
    color: white;
    font-size: larger;
}

.nav-item {
    text-align: center;
}

h2.under-line {
    display: inline-block;
    border-bottom: 5px solid #c0c0c0;
}
h3.highlight {
    display: inline-block;
    background: linear-gradient(transparent 50%, #a8eaff 50%);
}

footer {
    background-color: rgba(176, 196, 222, 0.5);
}


/* リスト全体を画面の中央に配置，各リストの要素は左揃えにするためのセット */
ul {
    display: inline-block;
    text-align: left;
    list-style-position: inside;
}
/* divのクラス*/
div.ul-align-center {
    text-align: center;
}
/* ulのクラス */
ul.ul-no-dot {
    list-style-type: none;
}
ul.poa {
    list-style-type: decimal;
}
