      @import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;600&family=Poppins:wght@600;800;900&family=Source+Code+Pro:ital,wght@0,400;1,900&family=Ubuntu:ital,wght@0,400;0,700;1,400;1,700&display=swap');

      body {
        display: flex;
        align-items: center;
        width: 80vw;
        height: 100vh;
        margin: 0 auto;
        font-family: Ubuntu, sans-serif;
        font-size: xx-large;
        font-weight: 700;
        transition: opacity 3s 1.5s ease-in-out;
      }

      h1 {
        width: 80vw;
        text-align: center;
      }
