@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;600&family=Poppins:wght@600;800;900&family=Source+Code+Pro:ital,wght@0,400;1,900&family=Ubuntu:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
  --theme-color: rgb(250 250 250 / 80%);
  --theme-color-active: rgb(250 250 250 / 100%);
}

* {
  /*
  margin:要素外の余白
  padding:要素内の余白
  引数は
  ・<上下> <左右>
  */
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  font-family: Ubuntu, sans-serif;
  /* ref: https://developer.mozilla.org/ja/docs/Web/CSS/font-size */
  font-size: 62.5%;
  text-align: center;
  opacity: 1%;
  transition-property: opacity;
  transition-duration: 0.75s;
  transition-timing-function: ease-in-out;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a>span {
  margin-left: 10px;
}

ul {
  display: inline-block;
  text-align: left;
  list-style-position: inside;
}

ul>li {
  margin: 10px 0;
  list-style: none;
}

header {
  display: flex;
  width: 100vw;
  font-size: 2rem;
  font-weight: 700;
  text-align: left;
  background-color: var(--theme-color);
}

header:hover {
  background-color: var(--theme-color-active);
}

.header-img {
  height: 10vh;
  padding: 10px 0;
  border-radius: 50%;
}

.header-item {
  align-self: center;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 30px;
}

main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  width: 100vw;
  font-size: 1.5rem;
}

.container {
  padding: 20px 50px;
  margin: 20px;
  background-color: var(--theme-color-active);
  border-radius: 5px;
}

button {
  padding: 5px 10px;
  margin: 10px 0;
  font-size: 1.5rem;
  border-style: dashed;
  border-radius: 15px;
}

button:hover {
  font-size: 2rem;
}

.code-font {
  font-family: 'Source Code Pro', monospace;
}

#typewriter::after {
  font-weight: 900;
  color: lime;
  content: "|";
  animation-name: blink;
  animation-duration: 0.75s;
  animation-iteration-count: infinite;
}

@keyframes blink {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* particles.js */
canvas {
  display: block;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
}


/* レスポンシブ */
@media screen and (width <=480px) {
  header {
    font-size: 1.5rem;
  }
}
